version: '3.8'

services:
  web:
    container_name: fresh-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    # environment:
    #   - NODE_ENV=production
